body{
    background-color: rgb(226, 226, 226);

}
.navbar-brand{
    background-color: #536162;
    color:azure;
    padding: 1%;
    margin: 0;
}

.navbar{
    margin-bottom: 0;
    padding-bottom: 0;
}

.container{
    width: 100%;
    border: 1px solid;
    height: 70vh;

}

main{
    margin-top: 5%;
}

.my-row{
    border: green dotted 5px;
}

.my-col{
    /* margin-right: 5px; */
    border: blue 3px dotted;
    background-color: white;
    min-height: 15vh;
}
.left {
    width: 60%;
    float: left;
    padding: 0 1px 0 0;
}